.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for 3 boxes */
    grid-gap: 30px; /* Spacing between boxes */
    width: 80%; /* Adjusted width */
    margin: 20px auto; /* Centered on the page */
}

body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #4682b4;
    color: white;
    margin: 0;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #4682b4;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.box:hover {
    transform: scale(1.05);
    background-color: #5a87c1;
}

#content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f8ff;
    overflow-y: auto;
}
